<!DOCTYPE html>
%html
  %head
    %title= yield(:title)
    = stylesheet_link_tag    'application', media: 'all' , 'data-turbolinks-track' => true
    = stylesheet_link_tag    'first_price_bargain', media: 'all' , 'data-turbolinks-track' => true
    = javascript_include_tag 'http://res.wx.qq.com/open/js/jweixin-1.0.0.js'

    -#-sign_package = $first_wechat_client.get_jssign_package(request.url) 
    -#:javascript
      -#var $share_url = 'http://www.baobeizm.com/first_price_bargain/show?openid=#{@current_openid}'
      -#var $appId = '#{sign_package['appId']}';
      -#var $timestamp = '#{sign_package['timestamp']}';
      -#var $nonceStr = '#{sign_package['nonceStr']}';
      -#var $signature = '#{sign_package['signature']}';

    = javascript_include_tag 'application' , 'data-turbolinks-track' => true
    = javascript_include_tag 'first_price_bargain' , 'data-turbolinks-track' => true
    = csrf_meta_tags
    -#%meta{ :content=>"width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0", :name => "viewport"}
    :plain
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=750,user-scalable=0" />
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <meta name="format-detection" content="telephone=no">

  %body
    -#= render "layouts/header"

    -#.container
    .weixin-container
      = yield

    -#= render "layouts/footer"



