<!DOCTYPE html>
-#<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
%html
  %head
    %title= yield(:title)
    = stylesheet_link_tag    'application', media: 'all' , 'data-turbolinks-track' => true
    = stylesheet_link_tag    'paris_price_bargain', media: 'all' , 'data-turbolinks-track' => true

    = javascript_include_tag 'application' , 'data-turbolinks-track' => true
    = javascript_include_tag 'paris_price_bargain' , 'data-turbolinks-track' => true
    = csrf_meta_tags
    -#%meta{:name => "viewport", :content=>"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}
    %meta{:name => "viewport", :content=>"width=device-width, user-scalable=no"}
    -#<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />

  %body
    -#= render "layouts/header"

    -#.container
    = yield

    -#= render "layouts/footer"



